.center {
    text-align: center;
}
.modal {
    font-family: 'Montserrat', sans-serif;
    hr.orange {
        background-color: #fba50a;
        width: 10%;
        height: 2px;
        margin: 0 auto;
        margin-top: -10px;
        margin-bottom: 20px;
    }
    p.timer_numb {
        font-size: 52px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }
}